@use '../pallets';
@use '@angular/material/index' as mat;
@use '../theming' as theming;

$magenta-violet-dark-color-scheme: (
  primary: mat.define-palette(pallets.$sp-violet),
  accent: mat.define-palette(pallets.$sp-magenta),
  warn: mat.define-palette(pallets.$sp-warn),
);

$dark-magenta-violet-theme: mat.define-dark-theme(
  theming.with-core-config($magenta-violet-dark-color-scheme)
);

@include theming.create-theme-bundle($dark-magenta-violet-theme);
