@use '../pallets';
@use '@angular/material/index' as mat;
@use '../theming' as theming;

$azure-blue-dark-color-scheme: (
  primary: mat.define-palette(pallets.$sp-azure),
  accent: mat.define-palette(pallets.$sp-blue),
  warn: mat.define-palette(pallets.$sp-warn),
);

$dark-azure-blue-theme: mat.define-dark-theme(
  theming.with-core-config($azure-blue-dark-color-scheme)
);

@include theming.create-theme-bundle($dark-azure-blue-theme);
