@use '../pallets';
@use '@angular/material/index' as mat;
@use '../theming' as theming;

$magenta-violet-light-color-scheme: (
  primary: mat.define-palette(pallets.$sp-violet),
  accent: mat.define-palette(pallets.$sp-magenta),
  warn: mat.define-palette(pallets.$sp-warn),
);

$light-magenta-violet-theme: mat.define-light-theme(
  theming.with-core-config($magenta-violet-light-color-scheme)
);

@include theming.create-theme-bundle($light-magenta-violet-theme);
