@use '../pallets';
@use '@angular/material/index' as mat;
@use '../theming' as theming;

$green-yellow-light-color-scheme: (
  primary: mat.define-palette(pallets.$sp-green),
  accent: mat.define-palette(pallets.$sp-yellow),
  warn: mat.define-palette(pallets.$sp-warn),
);

$light-green-yellow-theme: mat.define-light-theme(
  theming.with-core-config($green-yellow-light-color-scheme)
);

@include theming.create-theme-bundle($light-green-yellow-theme);
