@use '../pallets';
@use '@angular/material/index' as mat;
@use '../theming' as theming;

$azure-blue-light-color-scheme: (
  primary: mat.define-palette(pallets.$sp-azure),
  accent: mat.define-palette(pallets.$sp-blue),
  warn: mat.define-palette(pallets.$sp-warn),
);

$light-azure-blue-theme: mat.define-light-theme(
    theming.with-core-config($azure-blue-light-color-scheme)
);

@include theming.create-theme-bundle($light-azure-blue-theme);
