@use '@angular/material/index' as mat;

@include mat.core();

@function with-core-config($color-config) {
  @if (type-of($color-config) != map) {
    @error 'Expected a map for the color configuration.';
  }

  @return (
    color: $color-config,
    typography: mat.define-typography-config($font-family: 'Roboto'),
    density: -1
  );
}

@mixin create-theme-bundle($theme-config) {
  @include mat.core-theme($theme-config);
  @include mat.card-theme($theme-config);
  @include mat.toolbar-theme($theme-config);
  @include mat.form-field-theme($theme-config);
  @include mat.select-theme($theme-config);
  @include mat.button-theme($theme-config);
  @include mat.icon-button-theme($theme-config);
  @include mat.checkbox-theme($theme-config);
  @include mat.slide-toggle-theme($theme-config);
  @include mat.icon-theme($theme-config);
  @include mat.menu-theme($theme-config);
  @include mat.datepicker-theme($theme-config);
  @include mat.option-theme($theme-config);
  @include mat.typography-hierarchy($theme-config);
}
