:host {
  width: 100%;
}

.nav-link-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 1rem;
  }
}
