.feature-card {
  flex: 1 0 250px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  .mat-mdc-card-title {
    text-align: center;
  }
}
