<mat-card class="feature-card mat-elevation-z3" [routerLink]="['../feature', feature().id]">
  <mat-card-header class="feature-card-header">
    <mat-card-title>{{ feature().displayName }}</mat-card-title>
    <mat-card-subtitle>Click the feature to explore it</mat-card-subtitle>
    <mat-slide-toggle
      [checked]="feature().active"
      (change)="toggleFeature($event)"
      (click)="prev($event)"
    >
      {{ feature().active ? 'Enabled' : 'Disabled' }}
    </mat-slide-toggle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image
         ngSrc="https://github.com/PetarDimitrov91/PetarDimitrov91/assets/79804094/d708fb6a-7774-4778-9f6f-ebadce18c714"
         alt="Feature image"
         width="250"
         height="250"
         priority="high"
    />
  </mat-card-content>
</mat-card>
