html,
body {
  height: 100dvh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

body,
*,
*::before,
*::after {
  box-sizing: border-box;
}
