.create-feature-form-wrapper {
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;

    .create-feature-form-field {
      width: 100%;
      max-width: 400px;
    }

    .create-feature-inverted {
      margin-bottom: 2rem;
    }
  }
}
