<div class="create-feature-form-wrapper">

  <form [formGroup]="form" (submit)="onSubmit()">
    <mat-form-field class="create-feature-form-field">
      <mat-label>Display Name</mat-label>
      <input matInput formControlName="displayName"/>
    </mat-form-field>

    <mat-form-field class="create-feature-form-field">
      <mat-label>Technical Name</mat-label>
      <input matInput formControlName="technicalName"/>
    </mat-form-field>

    <mat-form-field class="create-feature-form-field">
      <mat-label>Expires On</mat-label>
      <input matInput [matDatepicker]="expiresOnPicker" formControlName="expiresOn"/>
      <mat-datepicker-toggle matSuffix [for]="expiresOnPicker"></mat-datepicker-toggle>
      <mat-datepicker #expiresOnPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="create-feature-form-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="create-feature-form-field">
      <mat-label>Customers</mat-label>
      <mat-select formControlName="customerIds" multiple>
        @for (customer of customers; track customer.id) {
          <mat-option [value]="customer.id">{{ customer.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox class="create-feature-inverted" formControlName="inverted">Inverted</mat-checkbox>

    <button mat-raised-button color="primary">Create</button>
  </form>
</div>
