.nav-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;

  mat-slide-toggle {
    padding: 14px 0 14px 18px;
  }

  .nav-theme-choice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .nav-name-icon-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
}
