@if (featureEnabled()) {
  <div class="nav-theme-selector">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="nav-menu-wrapper">
        <mat-slide-toggle
          #darkModeSwitch
          class="icon-slide-toggle"
          (change)="changeLightDarkMode($event)"
          [checked]="this.usrPrefersDarkMode()"
        >
          Dark Mode
        </mat-slide-toggle>

        @for (theme of themes; track theme.code) {
          <button
            mat-menu-item
            (click)="selectTheme($event, theme)"
            [value]="theme.code"
            class="nav-theme-choice"
          >
            <div class="nav-theme-choice">
              <mat-icon role="img" aria-hidden="true" data-mat-icon-type="font">
                {{
                  theme.code === crrTheme().code
                    ? 'radio_button_checked'
                    : 'radio_button_unchecked'
                }}
              </mat-icon>
              <div class="nav-name-icon-wrapper">
                <span class="nav-theme-name">{{ theme.displayName }}</span>
                <img
                  [ngSrc]="theme.iconLocation"
                  [alt]="theme.displayName"
                  width="32"
                  height="32"
                  class="nav-theme-icon"
                />
              </div>
            </div>
          </button>
        }
      </div>
    </mat-menu>
  </div>
}
