<h1 class="feature-list-heading"> Welcome to our features</h1>

<div class="feature-list">
  @for (feature of features(); track feature.id) {
    <lib-feature-toggle-list-item [feature]="feature" (toggle)="onFeatureToggle($event)"/>
  } @empty {
    <p>Currently no features are available</p>
  }
</div>
